{{ if site.Params.map.enable }}
{{ with site.Params.map }}
{{"<!-- Map -->" | safeHTML}}

<div align="center" class="open-map">
		<iframe width="75%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
		src="https://www.openstreetmap.org/export/embed.html?bbox=-52.69009709358215%2C-26.198339923691623%2C-52.68804252147675%2C-26.19686943977191&amp;layer=mapnik"
		style="border: 1px solid black">
		</iframe><br/>
		<small>
			<a href="https://www.openstreetmap.org/#map=19/-26.19760/-52.68907&amp;layers=N">View Larger Map</a>
		</small>
</div>

{{ end }}
{{ end }}
